body {
    margin: 0;
    padding: 0;
}
button{
    appearance: none;
    background-color: rgb(44, 44, 44);
    color: white;
    border-style: none;
    border-radius: 7px;
    padding: 10px;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.map-overlay {
    position: absolute;
    left: 0;
    padding: 10px;
}
